html {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.contentwrapper {
	display: flex;
	flex-direction: column;
	padding-top: 4em;
}

main {
	flex: 1;
}

header {
	width: 100%;
	padding: 1em;
	color: white;
	display: flex;
	height: 6em;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 20px #19100C, 0 0 30px #19100C, 0 0 40px #ff2d95, 0 0 50px #ff2d95;
	background-image: url(../img/neurones.gif);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: 2em;
}

header h1 {
	text-align: center;
	color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
	letter-spacing: 5px;
}

.info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	text-transform: uppercase;
	width: 30em;
}

body {
	margin: 0px;
	/* background-image: url(../img/header.jfif); */
	background-color: #F2D7D5;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

footer {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: small;
	height: 5em;
	padding: 1.75em;
	color: white;
	background-image: url(../img/neurones.gif);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: 0 0 20px #19100C, 0 0 30px #19100C, 0 0 40px #ff2d95;
	position: fixed;
	bottom: 0;
}

footer>span {
	font-weight: bold;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
	letter-spacing: 5px;
}

.message {
	color: red;
	font-size: 30px;
	text-transform: uppercase;
	animation: blinker 1.2s linear infinite;
}

@keyframes blinker {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5
	}
	100% {
		opacity: 0;
	}
}

#affichage {
	color: #FFF;
	display: flex;
	flex-direction: row;
	font-size: 20px;
}

#affichage>div {
	padding: .4em;
	border-radius: 3px;
	background: #7847C4;
	display: flex;
	flex-direction: column;
	height: 4em;
	width: 4em;
	text-align: center;
	justify-content: center;
	margin: .1em;
}

#affichage div>span {
	padding: 1em;
	border-radius: 3px;
	background: black;
	height: 2.5em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.elementAffichage {
	font-size: small;
}


/* mise en formes des cartes*/

.memory-card {
	border: 3px solid purple;
	transform-style: preserve-3d;
	transition: transform.4s;
	transform: scale(1);
	transform: rotateY(180deg);
}

.memory-card:active {
	transform: scale(.97);
	transition: transform.2s;
}

.front-face {
	border: 2px solid aqua;
}

img {
	cursor: pointer;
	width: 90px;
	height: 100%;
}

carte{
    padding-top: 3em;
}

.card {
    display: flex;
	flex-wrap: wrap;
	width: 300px;
	margin: auto;
	justify-content: center;
	height: 100%
}

.cards2 {
	display: none;
	flex-wrap: wrap;
	max-width: 400px;
	margin: auto;
	justify-content: center;
}

.cards3 {
	display: none;
	flex-wrap: wrap;
	max-width: 400px;
	margin: auto;
	justify-content: center;
}



.popup {
	position: absolute;
	z-index: 2;
	width: 300px;
	height: 300px;
	background: rgba(95, 8, 66, 0.7);
	padding: 35px;
	border: 2px solid #fff;
	border-radius: 5px;
	text-align: center;
	margin-top: 40px;
	display: none;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
}

.popup .close:hover {
	cursor: pointer;
	color: violet;
}

.popup .content {
	margin-top: 10px;
	max-height: 50%;
	overflow: auto;
}

.popup button {
	border: 2px solid #fff;
	border-radius: 3px;
}

.popup button:hover {
	background-color: #7847C4;
	color: white;
}

button {
	background-color: #f1f1f1;
	color: black;
	font-size: 16px;
	padding: 16px 30px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}


/* Pour Tablette*/

@media (min-width: 700px) {
	html {
		box-sizing: border-box;
	}
	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}
	body {
		margin: 0 auto;
	}

	.card {
		display: flex;
		flex-wrap: wrap;
		width: 500px;
		margin: auto;
		justify-content: center;
		height: 100%
	}
	img {
		cursor: pointer;
		width: 100px;
		height: 100%;
	}
	.game-over {
		height: 500px;
		width: 450px;
	}
	.cards2 {
		display: flex;
		flex-wrap: wrap;
		max-width: 700px;
		margin: auto;
		justify-content: center;
	}
	.cards3 {
		display: flex;
		flex-wrap: wrap;
		max-width: 700px;
		margin: auto;
		justify-content: center;
	}
}


/* Pour ordinateur*/

@media (min-width: 1200px) {
	html {
		box-sizing: border-box;
	}
	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}
	body {
		margin: 0 auto;
	}

	.card {
		display: flex;
		flex-wrap: wrap;
		width: 500px;
		margin: auto;
		justify-content: center;
		height: 100%
	}
	img {
		cursor: pointer;
		width: 100px;
		height: 100%;
	}
	.game-over {
		height: 500px;
		width: 450px;
	}
	.cards2 {
		display: flex;
		flex-wrap: wrap;
		max-width: 800px;
		margin: auto;
		justify-content: center;
	}
	.cards3 {
		display: flex;
		flex-wrap: wrap;
		max-width: 800px;
		margin: auto;
		justify-content: center;
	}
}
